@import "reset";
/* Utilities */
$size: (s: 1rem,
  m: 2rem,
  l: 3rem);

@each $name,
$value in $size {
  .u-margin-t-#{$name} {
    margin-top: $value;
  }

  .u-margin-l-#{$name} {
    margin-left: $value;
  }

  .u-margin-b-#{$name} {
    margin-bottom: $value;
  }

  .u-margin-r-#{$name} {
    margin-right: $value;
  }
}

/* Beginning of demo styles */
.u-display-b {
  display: block;
}

.u-tac {
  text-align: center;
}

.u-bold {
  font-weight: bold;
}

.u-margin-t-m {
  margin-top: 2rem;
}

body {
  font-family: "Inconsolata", monospace;
  font-size: 16px;
  line-height: 1.5;
  color: #fff6da;
  background: #042f4b;
}

h1, h2, h3 {
  font-weight: bold;
}

h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

header {
  font-size: 3rem;
  margin: 3rem auto;
  text-align: center;
  color: #ed1250;
  text-shadow: 4px 0 0 rgba(237, 18, 80, .4);

  h1 {
    display: inline-block;
    padding: .3rem 1rem;
    border-radius: 3px;
    background: #ffffff;
  }
}

section {
  padding: 3rem;
  border-style: dashed;
  border-color: #3c6382;
  border-bottom-width: 2px;
  ;
}

header + section {
  border-top-width: 2px;
}

a, a:active, a:visited {
  text-decoration: none;
  color: #fbc99d;

  &.-back {
    font-size: .8rem;
    position: fixed;
    top: 5px;
    left: 5px;
    margin: 5px;
    padding: 2px 8px;
    color: #ffffff;
    border: 1px solid #ffffff;
    background: #042f4b;
  }
}

a:hover {
  text-decoration: underline;
}

code {
  font-size: .8rem;
  display: inline-block;
  margin: 1rem 0;
  padding: .6rem;
  text-align: left;
  color: #ffffff;
  border-radius: .5rem;
  background: #0a3d62;

  &.highlight {
    max-width: 800px;
    color: #ed1250;
    background-color: #ffffff;
  }
}
